*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    background-color: #cfc2c4;
    position: fixed;
}

.sec1{
    height: 730px;
    width: 50%;
    float: left;
}

.sec2{
    height: 730px;
    width: 50%;
    float: left;
}

#logo_name{
    font-size: 60px;
    color: #422b00;
    margin-top: 188px;
    margin-left: 160px;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

#fb_text{
    margin-left: 160px;
    font-size: 24px;
    color: rgb(88, 95, 95);
    font-weight: 150;
    font-family: Helvetica, Arial, sans-serif;
}

.login_box{
    height: 352px;
    width: 380px;
    background-color: red;
    border-radius: 10px;
    background-color: rgb(243, 234, 234);
    box-shadow: 0px 0px 5px rgb(185, 177, 177);
    margin-left: 172px;
    margin-top: 125px;
}

.signup_box{
    height: 422px;
    width: 380px;
    background-color: red;
    border-radius: 10px;
    background-color: rgb(243, 234, 234);
    box-shadow: 0px 0px 5px rgb(185, 177, 177);
    margin-left: 172px;
    margin-top: 125px;
}

.email_number{
    height: 46px;
    width: 348px;
    margin-top: 15px;
    margin-left: 16px;
    font-size: 17px;
    border-radius: 3px;
    border-width: 1px;
    padding-left: 15px;
}

.email_number:hover{
    box-shadow: 0px 0px 3px blue;
}

.pass{
    height: 46px;
    width: 348px;
    margin-top: 15px;
    margin-left: 16px;
    font-size: 17px;
    border-radius: 3px;
    border-width: 1px;
    padding-left: 15px;
}

.pass:hover{
    box-shadow: 0px 0px 3px blue;
}

.referralcode{
    height: 46px;
    width: 348px;
    margin-top: 15px;
    margin-left: 16px;
    font-size: 17px;
    border-radius: 3px;
    border-width: 1px;
    padding-left: 15px;
}

.login{
    height: 49px;
    width: 348px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 16px;
    font-size: 17px;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 15px;
    background: #1875FF;
    box-shadow: 0px 14px 16px -16px #1875FF;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;


    
}

.forgot{
    color: #3a71e9;
    margin-left: 130px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
}

.line{
    height: 0.6px;
    width: 365px;
    margin-left: 17px;
    margin-top: 23px;
    background-color: rgb(185, 176, 176);
}

.new{
    height: 49px;
    width: 199px;
    margin-left: 90px;
    margin-top: 27px;
    background-color: rgb(62, 190, 30);
    box-shadow: 0px 14px 16px -16px rgb(62, 190, 30);
    border-radius: 5px;
    color: white;
    border-color: rgb(62, 190, 30);
    font-size: 17px;
    font-family: Helvetica, Arial, sans-serif;
}

.last_text{
    margin-left: 220px;
    margin-top: 24px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;

}
a{
    text-decoration: none;
    color: black;
}
